.site-logo {
  color: #fff;
  font-size: 2rem;
}

main {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 2px;
}

.container {
  background: none;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.ant-layout,
.ant-layout-footer {
  background: none !important;
}
